<div class= "m-5">
<h1>Your movie at the right place</h1>
<%= link_to "Add a new list", new_list_path %>
</div>

<div id= "lists" class= "m-5">
  <% @lists.each do |list| %>
    <div class= "pb-5">
      <h2><%= list.name %></h2>
      <%= link_to "See more", list_path(list), class: "btn btn-primary"%>
      <%= link_to "Delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>
</div>
